/* Overrides default html styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* CSS Global Variables 
Using this to keep track of colour palette
*/
:root {
  --background1-color: #2d5dfc;
  --background2-color: #eeeff5;
  --textColor1: #ffffff;
  --textColor2: #000000;
}

/* give the document a blue background,
give the background behind the header a colour*/
body {
  background-color: var(--background2-color);
}

code {
  border-radius: 5px;
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 2px;
}

/* Used to give each section a border to separate
the title and the content */
.content-border {
  border-right: 5px solid var(--background1-color);
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 10px 0px;
  background-color: var(--background1-color);
  z-index: 999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  padding-left: 70px;
  display: inline-flex;
}

header a {
  text-decoration: none;
  color: var(--textColor1);
  padding: 5px;
}

header nav ul {
  display: none;
}

header nav ul li {
  padding: 5px;
  margin: 5px;
  list-style: none;
  display: flex;
}

header nav ul li a {
  font-weight: lighter;
  font-size: 22px;
  transition: 0.3s;
}

header nav ul li a:hover {
  font-weight: normal;
  background-color: rgb(0, 110, 255);
  border-radius: 10px;
  font-size: 25px;
}

header button {
  margin: 10px 10px;
  display: block;
  padding: 3px 10px;
  background-color: rgba(0, 0, 0, 0.26);
  border: white 1px solid;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  position: absolute;
  right: 10px;
}
/*END HEADER*/

/*JUMBOTRON*/
.jumbotron-blur {
  background-image: url("/images/PortfolioBG.png");
  transform: skew(60deg, -30 deg) scaleY(0.6667);
  background-position: 50%;
  height: 400px;
  width: 100%;
  background-size: cover;
  display: inline-flex;
}

.jumbotron-text {
  background-color: var(--background1-color);
  border: rgb(77, 160, 255) 2px solid;
  border-radius: 10px;
  color: var(--textColor1);
  padding: 8px;
  font-size: 18px;
  height: auto;
  position: absolute;
  top: 350px;
  right: 50px;
  text-align: center;
}
/*END JUMBOTRON*/

/* ABOUT ME */
.aboutme {
  background-color: var(--background2-color);
  padding: 30px 30px;
  display: flex;
  background-color: var(--background2-color);
}

.about-me-container {
  display: flex;
}

.aboutme div h2 {
  color: var(--textColor2);
  width: 110px;
  text-align: right;
  padding: 10px;
  margin-left: 25px;
}

.aboutme div img {
  height: 30vw;
  padding: 20px;
  max-height: 350px;
}

.aboutme div p {
  color: var(--textColor2);
  padding: 30px;
  height: 256px;
  font-size: 1rem;
}
/* END ABOUT ME */

/* MY WORK */
.mywork {
  background-color: var(--background2-color);
  padding: 30px 30px;
  display: flex;
  background-color: var(--background2-color);
}

.mywork div h2 {
  color: var(--textColor2);
  width: 110px;
  text-align: right;
  padding: 10px;
  margin-left: 25px;
}

.container-projects {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}
.container-projects div a {
  width: 20px;
}

.container-projects div div {
  z-index: 1;
  background-color: cornflowerblue;
  color: var(--textColor1);
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  position: absolute;
  transform: translateY(-130px);
}
.container-projects div div h4 {
  display: inline-flex;
}

.mywork div img {
  width: 30vw;
  transition: 0.3s;
  filter: sepia();
}

.mywork div img:hover {
  border: rgb(107, 166, 255) 5px solid;
  filter: none;
  background-blend-mode: multiply;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}
.contact-content a {
  margin: auto 12px;
  padding: 2px 1px;
  text-align: center;
  text-decoration: none;
  border-bottom: solid black 3px;
  font-size: 1.5rem;
}

/* MOBILE BUTTON SHOW/HIDE NAV ELEMENTS */
/* display: none (hides element) */
/* display: inline || block || inline-flex... (shows element) */
.show {
  display: block;
}

/* END MY WORK */

/* RESUME PDF*/
#the-canvas {
  border: 1px solid black;
  direction: ltr;
  width: 100%;
  height: 650px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 981px) {
  .container-projects div:first-child img {
    width: 60vmax;
  }

  .aboutme div p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 980px) {
  .content-border {
    border-right: 4px solid var(--background1-color);
  }

  .mywork div img {
    width: 60vw;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .content-border {
    border-right: 3.5px solid var(--background1-color);
  }

  .mywork div img {
    width: 100%;
  }
  .aboutme div p {
    color: var(--textColor2);
    padding: 5px;
    height: 256px;
    font-size: 0.85rem;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .content-border {
    border-right: 2px solid var(--background1-color);
  }

  .jumbotron-text {
    padding: 8px;
    font-size: 12px;
    height: auto;
    position: absolute;
    width: 259px;
    top: 350px;
    right: 10px;
  }

  /* ABOUT ME */
  .aboutme {
    background-color: var(--background2-color);
    padding: 30px 15px;
    display: flex;
    background-color: var(--background2-color);
  }

  .about-me-container {
    display: flex;
  }

  .aboutme div h2 {
    color: var(--textColor2);
    width: 70px;
    text-align: right;
    padding: 10px;
    margin-left: 15px;
    font-size: 1rem;
  }

  .aboutme div img {
    height: 30vw;
    padding: 5px;
  }

  .aboutme div p {
    color: var(--textColor2);
    padding: 5px;
    height: 256px;
    font-size: 0.75rem;
  }

  /*MY WORK*/
  .mywork {
    padding: 30px 15px;
  }

  .mywork div h2 {
    color: var(--textColor2);
    width: 70px;
    text-align: right;

    margin-left: 15px;
    font-size: 1rem;
  }

  .mywork div img {
    width: 100%;
  }

  .contact-content a {
    margin: auto 12px;
    padding: 2px 1px;
    text-align: center;
    text-decoration: none;
    border-bottom: solid black 3px;
    font-size: 1rem;
  }
}

/* hides the menu button*/
@media screen and (min-width: 814px) {
  /* display:none hides the nav button toggle */
  header button {
    display: none;
  }

  header nav ul {
    display: inline-flex;
  }

  .show {
    display: inline-flex;
  }

  header nav ul li {
    margin: 5px;
    width: auto;
    text-align: inherit;
  }
}

/* Tweaks for smaller screens (adds menu aswell) */
@media screen and (max-width: 450px) {
  .container-projects div a div {
    font-size: 0.65rem;
    transform: translateY(-80px);
  }

  header h1 {
    padding-left: 35px;
  }

  header nav ul li {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  header button {
    margin: 10px 10px;
    display: block;
    padding: 3px 10px;
    background-color: rgba(0, 0, 0, 0.26);
    border: white 1px solid;
    color: white;
    border-radius: 5px;
    font-size: 22px;
    position: absolute;
    right: 10px;
  }

  .aboutme div h2 {
    padding: 10px 0px;
    padding-right: 10px;
  }
}
