/* Overrides default html styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Global Variables 
Using this to keep track of colour palette
*/
:root {
  --background-color: #25274d;
  --background2-color: #464866;
  --textColor1: #dbdce7;
  --textColor2: #2e9cca;
  --color: #29648a;
  /* 
  USE:
    .jumbotron {
        background-color: var(--background-color);
    }
  */
}

/*HEADER*/
header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 20px 0px;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  padding-left: 70px;
  display: inline;
  background-color: var(--background2-color);
}
header a {
  text-decoration: none;
  color: var(--textColor1);
  padding: 5px;
}

header nav {
  float: right;
  margin: 7px 0;
}

header nav ul li {
  display: inline;
  padding: 10px;
}

header nav ul li a {
  margin: 0 10px;
  font-weight: lighter;
  font-size: 22px;
  text-decoration: underline;
}
/*END HEADER*/

/*JUMBOTRON*/
.jumbotron {
  background-image: url("/images/BestSunset.jpg");
  background-position: 50%;
  height: 300px;
  width: 100%;
  background-size: cover;
}

.jumbotron h2 {
  color: var(--textColor1);
  background-color: var(--background2-color);
  display: inline;
  padding: 8px;
  margin: 5px;
  position: absolute;
  right: 50px;
  top: 300px;
  border-radius: 10px;
}
/*END JUMBOTRON*/

/* ABOUT ME */
.aboutme {
  display: flex;
  background-color: var(--background2-color);
  padding: 30px 30px;
}

.aboutme div h2 {
  color: var(--textColor1);
  width: 100px;
  text-align: right;
  padding: 10px;
  padding-bottom: 190px;
  margin-left: 25px;
  border-right: 5px solid var(--background-color);
}

.aboutme div img {
  height: 256px;
  padding: 20px;
}

.aboutme div p {
  color: var(--textColor1);
  padding: 30px;
  height: 256px;
  margin: auto;
}

/* NEWS PAPER STYLE PARAGRAPHS
.aboutme div p::first-letter {
  float: left;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 4rem;
  height: 4rem;
  text-transform: uppercase;
}*/
/* END ABOUT ME */

/* MY WORK */
.mywork {
  background-color: var(--color);
  padding: 30px 30px;
  display: flex;
}

.mywork div h2 {
  color: var(--textColor1);
  width: 100px;
  text-align: right;
  padding: 10px;
  padding-bottom: 86vmax;
  margin-left: 25px;
  border-right: 5px solid var(--background-color);
}

.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.mywork div img {
  width: 40vmax;
  padding: 5px 10px;
}

.container div:first-child img {
  width: 80vmax;
}
/* END MY WORK */
