/* Overrides default html styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Global Variables 
Using this to keep track of colour palette
*/
:root {
  --background-color: #25274d;
  --background2-color: #464866;
  --textColor1: #aaabb8;
  --txtColor2: #2e9cca;
  --color: #29648a;
  /* 
  USE:
    .jumbotron {
        background-color: var(--background-color);
    }
  */
}

header {
  background-color: #25274d;
}
